<?xml version="1.0"?>
<robot name="ball">
  <link name="ball">
    <inertial>
      <mass value="0.1" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 0 0" /> 
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="ball">
    <mu1>10</mu1>
    <mu2>10</mu2>
    <material>Gazebo/Red</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  <gazebo>
    <plugin name="BuoyancyPlugin" filename="libbuoyancy_gazebo_plugin.so">
      <fluid_density>1000</fluid_density>
      <fluid_level>0.0</fluid_level>
      <fluid_drag>5.0</fluid_drag>
      <link>
        <name>ball</name>
        <center_of_volume>0 0 0</center_of_volume>
        <area>0.00785</area>
        <height>0.1</height>
      </link>
  </plugin>
</gazebo>

</robot>