<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ball_launcher_gazebo" params="name">
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <gazebo>
	  <plugin name="${name}" filename="libball_launcher_plugin.so">
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
