[submodule "submodules/cog_publisher"]
	path = submodules/cog_publisher
	url = https://github.com/OUXT-Polaris/cog_publisher.git
[submodule "submodules/mqtt_bridge"]
	path = submodules/mqtt_bridge
	url = https://github.com:OUXT-Polaris/mqtt_bridge.git
[submodule "robotx_core"]
	path = robotx_core
	url = https://github.com/OUXT-Polaris/robotx_core.git
