<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find robotx_gazebo)/launch/sandisland.launch"/>
  <include file="$(find robotx_recognition)/launch/recognition.launch"/>
  <include file="$(find robotx_tools)/launch/visualization.launch"/>
  <!-- <include file="$(find robotx_driver)/launch/simulation.launch"/> -->
  <include file="$(find robotx_navigation)/launch/navigation.launch"/>
</launch>
