<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>

  <xacro:macro name="velodyne_v0">
    <!-- Velodyne Link+Joint+Plugin -->
    <xacro:VLP-16 parent="base_link" name="velodyne"
                  topic="/velodyne_points"
                  hz="10" samples="440">
      <origin xyz="0.6 0 1.8" rpy="0 0 0" />
    </xacro:VLP-16>
    <!-- Velodyne Link+Joint+Plugin -->
    <xacro:VLP-16 parent="base_link" name="velodyne2"
                  topic="/velodyne2_points"
                  hz="10" samples="440">
      <origin xyz="1.5 0 0.8" rpy="0 0 0" />
    </xacro:VLP-16>
  </xacro:macro>
  
</robot>
