<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">
  <xacro:include filename="$(find wamv_description)/urdf/sensors/stereo_camera/stereo_camera.urdf.xacro"/>
  <xacro:include filename="$(find wamv_description)/urdf/sensors/gps/gps.urdf.xacro"/>
  <xacro:include filename="$(find wamv_description)/urdf/sensors/imu/imu.urdf.xacro"/>
  <xacro:include filename="$(find wamv_description)/urdf/sensors/twist/twist.urdf.xacro"/>
  <xacro:include filename="$(find wamv_description)/urdf/sensors/velodyne/velodyne.urdf.xacro"/>

  <!-- Camera-->
  <xacro:camera_v0 prefix="front" parent="base_link">
    <origin xyz="0.8 0 1.6"/>
  </xacro:camera_v0>
  <!-- GPS -->
  <xacro:gps_v0/>
  <!-- IMU -->
  <xacro:imu_v0/>
  <!-- Twist -->
  <xacro:twist_v0/>
  <!-- Velodyne -->
  <xacro:velodyne_v0/>
  
</robot>
