<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" args="manager" name="move_base_nodelet_manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="navigation_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet move_base_nodelet_manager">
    <rosparam file="$(find robotx_navigation)/config/navigation_velocity_smoother.yaml" command="load"/>
    <remap from="/navigation_velocity_smoother/odometry" to="odom"/>
    <remap from="/navigation_velocity_smoother/smooth_cmd_vel" to="cmd_vel"/>
    <remap from="/navigation_velocity_smoother/robot_cmd_vel" to="cmd_vel"/>
  </node>

  <!-- Select one Global and Loacl Planner -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="true">
    <!-- COST MAP -->
    <rosparam file="$(find robotx_navigation)/config/move_base/costmap/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find robotx_navigation)/config/move_base/costmap/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find robotx_navigation)/config/move_base/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robotx_navigation)/config/move_base/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" /> 

    <!-- GLOBAL PLANNER -->
    <!-- <rosparam file="$(find robotx_navigation)/config/move_base/planner/global/carrot_planner_params.yaml" command="load" /> -->
    <!-- <rosparam file="$(find robotx_navigation)/config/move_base/planner/global/global_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find robotx_navigation)/config/move_base/planner/global/navfn_global_planner_params.yaml" command="load" />

    <!-- LOCAL PLANNER -->
    <rosparam file="$(find robotx_navigation)/config/move_base/planner/local/dwa_local_planner_params.yaml" command="load"/>
    <!-- <rosparam file="$(find robotx_navigation)/config/move_base/planner/local/eband_local_planner.yaml" command="load"/> -->
    <!-- <rosparam file="$(find robotx_navigation)/config/move_base/planner/local/teb_local_planner.yaml" command="load"/> -->
    <!-- <rosparam file="$(find robotx_navigation)/config/move_base/planner/local/trajectory_planner.yaml" command="load"/> -->

    <!-- BEHAVIORS -->
    <rosparam file="$(find robotx_navigation)/config/move_base/behavior/recovery_behavior_params.yaml" command="load"/>
    
    <!-- REMAP -->
    <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
  </node>

  <node pkg="map_server" type="map_server" name="field_map_server" output="screen" respawn="true" args="$(find robotx_navigation)/data/field.yaml">
    <remap from="map" to="field_map"/>
    <param name="frame_id" value="world"/>
  </node>

  <node pkg="robotx_navigation" type="costmap_clear_request_sender_node" name="costmap_clear_request_sender_node" output="screen" respawn="true">
    <rosparam file="$(find robotx_navigation)/config/costmap_clear_request_sender.yaml" command="load"/>
  </node>

</launch>