<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">

  <xacro:macro name="twist_gazebo_v0">
    <gazebo>
      <plugin name="usv_twist_sensor_plugin" filename="libusv_twist_sensor_plugin.so">
        <targetLink>base_footprint</targetLink>
        <publishRate>50</publishRate>
        <sensorNoiseVariance>0.1</sensorNoiseVariance>
      </plugin>
    </gazebo>
  </xacro:macro>
  
</robot>
