<?xml version="1.0"?>
<launch>
    <node name="cuda_diagnostic_node" pkg="robotx_driver" type="cuda_diagnostic_node" args="" output="screen" respawn="true">
        <rosparam command="load" file="$(find robotx_driver)/config/jetson1_device_info.yaml"/>
    </node>
    
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
        <rosparam command="load" file="$(find robotx_driver)/config/diagnostic_aggregator.yaml"/>
    </node>

    <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" args="" respawn="true" />
</launch>