<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">

  <xacro:macro name="ball_launcher_gazebo_v0">
    <gazebo reference="ball_launcher_pitch_link">
      <plugin name="ball_launcher_plugin" filename="libball_launcher_plugin.so"/>
    </gazebo>
  </xacro:macro>

</robot>