local_costmap:
  global_frame: world
  robot_base_frame: /base_footprint
  rolling_window: true
  track_unknown_space: true
  update_frequency: 5.0
  publish_frequency: 2.0
  resolution: 0.05
  width: 30.0
  height: 30.0
  static_map: false
  transform_tolerance: 0.1
  plugins:
    - {name: obstacles_laser,           type: "costmap_2d::ObstacleLayer"}
    - {name: inflation,                 type: "costmap_2d::InflationLayer"}