<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" args="manager" name="robotx_recognition_nodelet_manager" output="screen"/>

<!--
  <rosparam command="load" file="$(find robotx_recognition)/config/object_recognition.yaml" ns="robotx_recognition_nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="object_recognition_nodelet" args="load robotx_recognition_nodelet/object_recognition_nodelet robotx_recognition_nodelet_manager">  
  </node>
-->

  <rosparam command="load" file="$(find robotx_recognition)/config/euclidean_clustering.yaml" ns="robotx_recognition_nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="euclidean_clustering_nodelet" args="load robotx_recognition_nodelet/euclidean_clustering_nodelet robotx_recognition_nodelet_manager">  
  </node>

  <rosparam command="load" file="$(find robotx_recognition)/config/passthrough_filter.yaml" ns="robotx_recognition_nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="passthrough_filter_nodelet" args="load robotx_recognition_nodelet/passthrough_filter_nodelet robotx_recognition_nodelet_manager">  
  </node>

  <rosparam command="load" file="$(find robotx_recognition)/config/pointcloud_merger.yaml" ns="robotx_recognition_nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="pointcloud_merger_nodelet" args="load robotx_recognition_nodelet/pointcloud_merger_nodelet robotx_recognition_nodelet_manager">  
  </node>

  <rosparam command="load" file="$(find robotx_recognition)/config/object_bbox_extractor.yaml" ns="robotx_recognition_nodelet_manager"/>
  <node pkg="nodelet" type="nodelet" name="object_bbox_extractor_nodelet" args="load robotx_recognition_nodelet/object_bbox_extractor_nodelet robotx_recognition_nodelet_manager">  
  </node>
</launch>